@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');

body {
    background-color: black;
    color: white;
    font-family: 'UnifrakturMaguntia', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    text-align: center;
}

h1, h2 {
    margin: 10px;
    font-size: 50px;
}